@import '../../styles/_mixins.scss';
@import '../../styles/_variables.scss';

.user-container {
    @include container;
}

h1 {
    margin-left: 1rem;

}

.user-list {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    background-color: rgb(245, 245, 245);
    text-align: center;
    padding: 1rem;

    li {
        list-style-type: none;
        border: 1px solid white;
        box-shadow: rgb(131, 131, 131) 5px 5px 5px 1px;
        background-color: $gray;
        margin: 5px;
        padding: 4px;
        color: white;

        a:hover {
            color: rgb(48, 182, 175);
        }
    }
}