//Colors

$primarycolor: #f0f3f5;
$darkcolor:#2f353a;
$secondarycolor: rgb(41, 46, 78);
$yellow: #92D631;
$gray:#B8B9BD;
$blue: #28C4DD;

// breakpoint responsive 
$breakpoint-extralarge: 1200px;
$breakpoint-large: 942px;
$breakpoint-medium: 788px;
$breakpoint-small: 565px;
$breakpoint-tiny: 414px;