@import "../../../styles/mixins";
@import "../../../styles/_variables.scss";

.admin {
  @include container;
  display: grid;
  grid-template-areas:
    "a a"
    "b c"
    "b d";
  grid-column-gap: 5px;
  grid-row-gap: 5px;


  .admin-header{
    grid-area: a;
    button{
      margin-right: 1rem;
    }
  }

  .posts-list-admin{
    grid-area: b;
  }
  .category-list-admin{
    grid-area: d;
  }
  .slider-list-admin{
    grid-area: c;
  }

  .post-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
  }

  button {
    border: none;
    padding: 10px;
    box-shadow: rgba(144, 144, 144, 0.493) 2px 0px 2px 0px;

    &:hover {
      box-shadow: rgba(144, 144, 144, 0.479) 2px 2px 5px 0px;
    }
  }

  table,
  td,
  th {
    border: 1px solid #ddd;
  }

  th {
    background-color: $primarycolor;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 15px;
  }


}

.login {
  @include container;
  padding: 5rem;
  border: 1px solid black;
  background-color: $darkcolor;
  color: white;

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
      background-color: $yellow;
      color: white;
    }
  }

}