@import "../../styles/_mixins.scss";
@import "../../styles/_variables.scss";

.posts-list {
    @include container;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-gap: 1rem;
    margin-bottom: 1rem;

    @media (max-width: 768px) {
        grid-template-columns: auto;

    }
}