@import "../../styles/mixins";
@import "../../styles/_variables.scss";

footer {
  margin-top: 1rem;
  background-color: $secondarycolor;
  color: white;

  a {
    color: white;
  }

  .footer_container {
    @include container;
    display: grid;
    grid-template-columns: 30% auto auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
    padding: 2rem 0;

    @media (max-width: 768px) {
      grid-template-columns: auto;
      grid-gap: 1rem;
      text-align: center;
    }

    .footer-main {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      i {
        font-size: 20px;
      }

      .footer-social {
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
          text-align: center;
          justify-content: initial;
          margin: 0 auto;
          i {
            padding: 1rem;
          }
        }
      }

      img {
        width: 80px;
        height: auto;

        @media (max-width: 768px) {
          margin: 0 auto;
          padding-bottom: 1rem;
        }
      }
    }

    .footer-contact {
      display: flex;
      flex-direction: column;

      i {
        margin-top: 10px;
      }
    }

    .footer-nav {
      display: flex;
      flex-direction: column;

      @media (max-width: 768px) {
        flex-direction: row;
        justify-content: space-evenly;
      }

      li {
        list-style-type: none;
        margin-bottom: 1rem;
      }
    }
  }

  small {
    padding: 0.7rem;
  }
}